<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
      <a href="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class src="/static/spotify-icon2.jpg" alt="Logo" width="54" height="30" class="d-inline-block align-text-center" style="padding-right: 10px; padding-left: 10px;">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="fs-6 fw-medium text-light nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="fs-6 fw-medium text-light nav-link active" href="/top-songs">Top Songs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 
<nav class="navbar navbar-expand-lg rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a href="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class src="/static/spotify-icon2.jpg" alt="Logo" width="54" height="30" class="d-inline-block align-text-center" style="padding-right: 10px; padding-left: 10px;">
      </a>
      <ul class="navbar-nav col-lg-12 justify-content-lg-center">
        <li class="nav-item">
          <a class="fs-6 fw-medium nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="fs-6 fw-medium nav-link active" href="/top-songs">Top Songs</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->