{% extends 'layout.html' %}
{% block title %} <title>Home</title>{% endblock %}

{% block head %}
<style>
    body {
        width: 100%;
        height: 90%;
        overflow: hidden;
    }

    #banner {
        width: 100%;
        /* height: 100% */
        /* object-fit: cover; */
    }

    .background {
        aspect-ratio: 1255 / 570;
        background-image: url('static/home1.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centerTop {
        position: absolute;
        left: 50%;
        top: 11%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}

{% block body %}
<div>
    <img class="img-fluid" id="banner" src="/static/banner3.jpg">   
    <div style='width: 90%; margin: auto; margin-top: 10px; float: top;' class="centerTop">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-primary" role="alert">
                    {% for message in messages %}
                        <li style='padding:2px; margin-left: 20px;'>{{ message }} <a href='https://forms.gle/a4hnctbUzkL97F7R8' target="_blank">In the meantime, please submit this easy form with your Spotify's email in order to see contents.</a> - Owner</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
<div class="background">
    <h1 style="text-align: center; margin: 0px 0px 0px 0px; padding-top: 30px; ">Let's Listen to Yourself</h1>
    <p style="text-align: center;" class="lead">What is your taste in music? Let's find out, and maybe discover new bops along the way.</p>

    <div style="scale: 90%;" class="row row-cols-1 row-cols-md-3 g-10 d-flex justify-content-center">
        <div style="width: 350px;" class="col-4">
        <div class="card h-100">
            <img style="height: 250px;" src="/static/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Get Your Top Songs</h5>
            <p class="card-text">Curious about your listening habits? Well let's trace back to what you been listening for the past weeks, months, or years!</p>
            </div>
        </div>
        </div>
        <div style="width: 350px;" class="col-4">
        <div class="card h-100">
            <img style="height: 250px;" src="/static/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Enjoy New Recommendations</h5>
            <p class="card-text">Caught in a musical dry spell? Well we got some song recommendations for you based on your listening habits.</p>
            </div>
        </div>
        </div>
        <div style="width: 350px;" class="col-4">
        <div class="card h-100">
            <img style="height: 250px;" src="/static/card3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Learn about your current musical moods and how they represent you.</h5>
            <p class="card-text">Discover who you are based on what you listen to. Shall we tango or chill out?</p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}