{% extends 'layout.html' %}

{% block head %}
<style>
    body {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: 0;
    }
</style>
{% endblock %}

{% block body %}
{% include 'header.html' %}
<div style='overflow: scroll;' class="me-md-auto pt-3 px-3 pt-md-5 px-md-5 text-center overflow-auto">
    <div class="my-0 p-0">
        <h2 style="font-family: Helvetica; font-size: 400%;">My Top Songs</h2>
        <p class="lead">
            <form action="{{ url_for('getTopSongs') }}" method="POST">
                <select name='option1' class="form-select-sm" aria-label=".form-select-sm example" required>
                    <option selected disabled># of Songs</option>
                    <option value=5>Five</option>
                    <option value=10>Ten</option>
                    <option value=20>Twenty</option>
                </select>
                <label style="font-size: larger;"> from the past </label>
                <select name='option2' class="form-select-sm" aria-label=".form-select-sm example" required>
                    <option selected disabled>Time Period</option>
                    <option value="short_term">30 Days</option>
                    <option value="medium_term">6 Months</option>
                    <option value="long_term">Several Years</option>
                </select>
                <button style="margin-left: 10px;" type="submit" class="btn btn-success">Fetch</button>
            </form>
        </p>
    </div>
    {% block songs %}{% endblock %}
</div>
{% include 'footer.html' %}
{% endblock %}