{% extends 'layout.html' %}

{% block title %} <title>Your Top Songs</title>{% endblock %}
{% block head %}
<style>
    body {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: 0;
        aspect-ratio: 1 / 1;
        background-image: url('/static/iiisometric.svg');
        background-position: center;
        background-repeat: repeat-y;
        background-size: 120%;
    }

    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 10vh;
    }
</style>
{% endblock %}

{% block body %}
<div style='overflow: scroll;' class="me-md-auto pt-3 px-3 pt-md-5 px-md-5 text-center overflow-auto">
    <div class="my-0 p-0">
        <h2 style="font-family: sans-serif; font-size: 400%; text-decoration: underline; font-style: italic; font-weight: bold; color: rgb(19, 189, 78);">My Top Songs</h2>
        <p style="padding-top: 20px;" class="lead">
            <form action="/top-songs/" method="GET">
                <select name='limit' class="form-select-sm" aria-label=".form-select-sm example" required>
                    <option value="" selected disabled># of Songs</option>
                    <option value=5>Five</option>
                    <option value=10>Ten</option>
                    <option value=20>Twenty</option>
                </select>
                <label style="font-size: larger; color: rgb(0, 168, 59); padding: 0 8px 0 8px;"> from the past </label>
                <select name='timeRange' class="form-select-sm" aria-label=".form-select-sm example" required>
                    <option value="" selected disabled>Time Period</option>
                    <option value="short_term">30 Days</option>
                    <option value="medium_term">6 Months</option>
                    <option value="long_term">Several Years</option>
                </select>
                <button style="margin-left: 10px;" type="submit" class="btn btn-success">Fetch</button>
            </form>
        </p>
    </div>
    {% for i in range(length) %}
        <div style="clear: both; overflow: hidden; padding: 8px 8px 8px 0px; width: 60%; border-radius: 21px; margin-bottom: 10px; background-color: black;" class="shadow-sm mx-auto">
            <div style='float: left; margin: 50px auto auto 5%;'>
                <h1 style="color: rgb(30, 215, 96);">#{{ i+1 }}</h1>
            </div>
            <iframe style="border-radius: 12px; float: right;" src="https://open.spotify.com/embed/track/{{ topSongs[i] }}?utm_source=generator" width="85%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    {% endfor %}
    
    {% if showRecommendations %}
    <div class="center-screen">
        <button name="/clicked" hx-get="/clicked" hx-vals='{"myVal": "{{ length }}", "a": "{{ recommendations }}", "b": "{{ recommendationsURIs }}", "c": "{{ playlistsNamesString }}", "d": "{{ playlistsIDsString }}", "e": "{{ numberOfPlaylists }}", "limit": "{{ limit }}", "timeRange": "{{ timeRange }}" }' hx-target="#recommendation-div" hx-swap="innerHTML" style="scale: 120%; border-radius: 30px;" type="button" class="lead btn btn-success">Get Recommendations From These Tracks</button>
    </div>
    <div id="recommendation-div"></div>
    {% endif %}
</div>
{% endblock %}