{% extends 'layout.html' %}

{% block title %} <title>Home</title>{% endblock %}
{% block head %}
<style>
    body {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: 0;
        aspect-ratio: 1920 / auto;
        background-image: url('static/iiisometric-2.svg'), url('static/layered-waves-haikei-2.svg');
        background-position: right, left;
        background-repeat: repeat-y, no-repeat;
        background-size: 60% , cover;
    }

    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 10vh;
    }
</style>
{% endblock %}

{% block body %}

<!-- rgb(30, 215, 96) original 'My Top Songs' color -->
<!-- me-md-auto pt-3 px-3 pt-md-5 px-md-5 text-center overflow-auto -->
<div style='border: dotted red; overflow: scroll;' class="me-md-auto pt-3 px-3 pt-md-5 px-md-5 text-center overflow-auto">
    <div class="my-0 p-0">
        <h2 style="font-family: sans-serif; font-size: 400%; text-decoration: underline; font-style: italic; font-weight: bold; color: rgb(19, 189, 78);">My Top Songs</h2>
        <p style="padding-top: 20px;" class="lead">
            <form action="{{ url_for('getTopSongs') }}" method="POST">
                <select name='option1' class="form-select-sm" aria-label=".form-select-sm example" required>
                    <option selected disabled># of Songs</option>
                    <option value=5>Five</option>
                    <option value=10>Ten</option>
                    <option value=20>Twenty</option>
                </select>
                <label style="font-size: larger; color: rgb(0, 168, 59); padding: 0 8px 0 8px;"> from the past </label>
                <select name='option2' class="form-select-sm" aria-label=".form-select-sm example" required>
                    <option selected disabled>Time Period</option>
                    <option value="short_term">30 Days</option>
                    <option value="medium_term">6 Months</option>
                    <option value="long_term">Several Years</option>
                </select>
                <button style="margin-left: 10px;" type="submit" class="btn btn-success">Fetch</button>
            </form>
        </p>
    </div>
    {% for i in range(length) %}
        <div style="clear: both; overflow: hidden; padding: 8px 8px 8px 0px; width: 60%; border-radius: 21px 21px 21px 21px; margin-bottom: 10px; background-color: black;" class="shadow-sm mx-auto">
            <div style='float: left; vertical-align: middle; margin: 45px auto auto 50px;'>
                <h1 style="color: rgb(30, 215, 96);">#{{ i+1 }}</h1>
            </div>
            <iframe style="border-radius: 12px; float: right;" src="https://open.spotify.com/embed/track/{{ topSongs[i][2] }}?utm_source=generator" width="85%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    {% endfor %}

    {% if showRecommendations %}
    <div style="border: dotted red;" class="center-screen">
        <button style="border-radius: 30px;" type="button" class="btn btn-success">Get Recommendations From These Tracks</button>
    </div>
    {% endif %}
</div>
{% endblock %}