{% for i in range(length) %}
    <div style="clear: both; overflow: hidden; padding: 8px 8px 8px 0px; width: 60%; border-radius: 21px 21px 21px 21px; margin-bottom: 10px; background-color: black;" class="shadow-sm mx-auto">
        <div style='border-radius: 12px; float: left; text-align: center; margin: 40px 0 0 50px;'>
            <button style="font-size: 40px; padding: 0 13px 2px 13px;" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#{{ i }}">
                {{ '+' }}
            </button>
            <div class="modal fade" id="{{ i }}" tabindex="-1" aria-labelledby="{{ i }}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ i }}Label">Add song to playlist</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('add', uri=recommendationsURIs[i], limit=limit, timeRange=timeRange) }}" method="POST">
                                <select name="playlistChoice" class="form-select form-select-lg mb-3" aria-label="Default select example">
                                    <option disabled selected>Choose a playlist to add song to</option>
                                    {% for i in range(numberOfPlaylists) %}
                                        <option value='{{ playlistsIDsArray[i] }}'>{{ playlistsNamesArray[i] }}</option>
                                    {% endfor %}
                                </select>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Add to playlist</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <iframe style="border-radius: 12px; float: right;" src="https://open.spotify.com/embed/track/{{ recommendations[i] }}?utm_source=generator" width="85%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
{% endfor %}